 img{ 
     width: 300px;
    border: 0px solid white;
    border-radius: 70px;

}
  /* section{ 
    margin-top: 100px;
    display: flex;
  border: 3px solid red;
}  */

.e{
    float: right;
   margin-top: 110px;
}
h4{
   text-align: right;
}
.b{
    font-size: 30px;
    font-weight: 600;
}
.w{
    float: right;
    font-weight: 550;
}
 
